@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 30%;
    --primary-light: 240 5.9% 60%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 4.3% 85%;


    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 240 5.9% 30%;
    --primary-light: 240 5.9% 60%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 4.6% 75%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}


@layer components {
  .contact-section {
    @apply bg-black text-foreground p-8 rounded-lg shadow-lg;
    font-family: 'Merriweather', serif;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contact-section h2 {
    @apply text-white;

  }

  .contact-section .title {
    @apply text-white;

  }

  .contact-section p {
    @apply text-lg md:text-xl leading-relaxed;
    color: hsl(var(--muted-foreground));
   
  }

  .contact-section a {
    @apply underline;
    color: hsl(var(--muted-foreground));
   
  }

  .contact-section a:hover {
    color: hsl(var(--muted-foreground-light));

    text-decoration: underline;
    transition: color 0.6s ease-in-out;

  }

  .contact-section .contact-info {
    @apply mb-6;
  }

  .contact-section .contact-info.email,
  .contact-section .contact-info.phones,
  .contact-section .contact-info.address {
    @apply text-gray-300;

  }

  .contact-section button {
    @apply mt-8 px-10 py-4 text-white text-lg rounded-lg border-2 border-white;
    background-color: transparent;
    /* Sin fondo */
    border-color: hsl(0, 0%, 100%);
    /* Borde blanco */
  }

  .contact-section button:hover {
    background-color: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  }

  .contact-section img {
    @apply rounded-lg shadow-2xl object-cover;
    width: 100%;
    height: auto;
    max-height: 600px;
  }
}

/* Hover effects */
.hover\:bg-primary:hover {
  background-color: var(--primary);
  transition: background-color 0.4s ease-in-out;
}

.hover\:text-primary-foreground:hover {
  color: var(--primary-foreground);
  transition: color 0.4s ease-in-out;
}